DATABASE_URL="mysql://mysql:password@localhost:5432/les_vrais_naturels"
JWT_SECRET="jf-larose-les-vrais-naturels-super-secret-2026"
PORT=3001
CLIENT_BASE_URL="http://localhost:3000"
ADMIN_BASE_URL="http://localhost:5173"
